<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .barra{
                height: 100px;                
                background: rgb(90, 87, 87);
                border: 2px solid black;                                
                color: azure;
            }
        </style>
    </head>
    <body>  
        <div id="app">       
            <div class="barra" :style="'width:'+ ancho + '%; background:'+ color +';'" :name="ancho">
                    <h1>{{ancho}}%</h1>{{mensaje}}
            </div>      
            <button @click="mas" @keyup.right="mas" :disabled="bandera">+</button>
            <button @click="menos" @keyup.left="menos" :disabled="bandera2">-</button>
        </div>         
       <script>
            var x=new Vue({
                el:"#app",
                data:{
                    ancho:3,
                    color:"blue",
                    desabilitar:true,                    
                },
                created:function(){                    
                    this.color="green"                    
                },
                computed:{
                    mensaje:function(){
                        if(this.ancho<100){
                            return "";                            
                        }
                        else{
                            return "LLENO";                            
                        }                        
                    },
                    bandera:function(){
                        if(this.ancho<100){
                            return false;                            
                        }
                        else{
                            return true;  
                        }    

                    },
                    bandera2:function(){
                        if(this.ancho<1){
                            return true;                            
                        }
                        else{
                            return false;
                        }
                    }
                },
                methods: {                    
                    mas:function(){
                        this.ancho+=1;
                        if(this.ancho<=50){
                            this.color="blue";
                        }                       
                        else{
                            this.color="red";
                        }                         
                        //window.location.href ="https://www.google.com";
                        //window.location.target='_blank';                                                
                    },
                    menos:function(){
                        this.ancho-=1;
                        if(this.ancho<=50){
                            this.color="blue";
                        }                       
                        else{
                            this.color="red";
                        }                         
                    }
                    },
                });
            </script>
        </body>
    </html>